/* ページ全体 */
body {
  margin: 0;
  font-family: "Meiryo", sans-serif;
  background-color: #DDFF88;
  text-align: center;
}

/* タイトル */
h1 {
  color: #333;
  font-size: 32px;
  margin: 20px 0;
}

/* ボタン */
button {
  background-color: #FF9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #e68a00;
}

/* 情報表示エリア */
#infoContainer {
  display: none;
  margin-top: 30px;
}

#infoTitle {
  color: #c31717;
  font-size: 24px;
  font-weight: bold;
}

#infoDesc {
  font-size: 18px;
  line-height: 1.6;
  white-space: pre-line; /* \n を改行として表示 */
}

#infoImage {
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  height: auto;
}
