body {
  font-family: Meiryo;
  background-color: #DDFF88;
  text-align: center;
}

h1 {
  color:#333;
  font-size: 32px;
  margin-top: 20px;
}

button {
  background-color: #FF9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

#infoTitle {
  color: #c31717;
  font-size: 20px;
}
