body {
    margin: 0;
    font-family: "Noto Sans JP", Arial, sans-serif;
    background-color: #DDFF88; /* 好きな色 */
    text-align: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-top: 20px;
}

button {
    background-color: #FF9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#infoContainer {
    display: none;
    margin-top: 15px;
}

#infoTitle {
    color: #c31717;
    font-size: 20px;
}

#infoDesc {
    color: #333;
    font-size: 15px;
}

#infoImage {
    margin-top: 10px;
    border-radius: 5px;
}
